<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaterWisee"
        tools:targetApi="31">

        <!-- Dashboard Activity -->
        <activity
            android:name=".Dashboard_Activity"
            android:exported="false" />

        <!-- Welcome Page Activity: This is the launcher activity -->
        <activity
            android:name=".WelcomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".Login2"
            android:exported="false" />

        <!-- Main Activity for managing fitness tasks -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Receiver for fitness reminder notifications -->
        <receiver android:name=".NotificationReceiver" />

        <!-- Widget provider for fitness tasks -->
        <receiver android:name=".FitnessWidgetProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/fitness_widget_info" />
        </receiver>

    </application>

</manifest>
